<div class="turn"> <%= @game.current_player.name %>'s turn </div>

<div>
  <%= @game.player_one.name %> <p> HP: <%= @game.player_one.hitpoints %> </p>
</div>
<div>
  <%= @game.player_two.name %>  <p> HP: <%= @game.player_two.hitpoints %> </p>
  <form action="/attack" method="get">
    <button type="submit" value="attack player 2">
    <h2> Spit rhymes </h2>
    </button>
  </form>
</div>
